*.suo
*.puo
*.user
*.dll
*.pdb
*.dbmdl
*.cache

.vs
_ReSharper.*
bin
obj
packages

Vidly/Content/Datatables
Vidly/Scripts/Datatables
Vidly/Scripts/*.js
Vidly/bin
Vidly/obj
Vidly/*.config
Vidly/Scripts/_references.js
