@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Styles.Render("~/Content/errorPage.css")

<h1>Webservice currently unavailable</h1>
<h2>Error 500</h2>
<p>
    An unexpected condition was encountered.
    Our service team has been dispatched to bring it back online.
</p>
